:root {
    --dark-grey: #666666;
    --light-grey: #EEEEEE;
    --dark: #292929;
    --orange: #ED7135;
    --white: #FFF;
    --white-grey: #EBEBEB;
    --day-theme: #F5F5F5;
    --night-theme: #292929;
}

body {
    font-family: 'Commissioner', sans-serif;
    color: var(--dark-grey);
}

.day {
    background: var(--day-theme);
}

.night {
    background: var(--night-theme);
}

.day .header {
    border-bottom: 1px solid var(--white-grey);
}

.night .header {
    border-bottom: 1px solid var(--dark-grey);
}

.header .nav-link.active {
    line-height: 72px;
    position: relative;
}

.header .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid var(--orange);
}

.day .header .nav-link.active {
    color: var(--dark);
}

.night .header .nav-link.active {
    color: var(--day-theme);
}

.nav-link {
    font-size: 1rem;
}

.day .nav-link,
.day .btn {
    color: var(--dark-grey);
}

.night .nav-link,
.night .btn {
    color: var(--day-theme);
}

.navbar-nav .nav-item:not(.active) {
    color: var(--dark-grey);
}

@media(min-width: 1140px){
    .custom-container {
        width: 1140px;
        margin: 0 auto;
    }
    .nav-pills .nav-link {
        width: 17rem;
    }
    .search-wrapper {
        width: 546px;
    }
    .photo-card {
        width: 22rem;
    }
}

.day .search-wrapper {
    background-color: var(--light-grey);
}

.night .search-wrapper {
    background-color: var(--dark-grey);
}

.search-wrapper {
    border-radius: 100px;
    height: 40px;
}

.search-wrapper > * {
    border: none;
}

.search-input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.day .search-input::placeholder {
    color: var(--dark-grey);
}

.night .search-input::placeholder {
    color: var(--white-grey);
}

.night .search-input {
    color: var(--white);
}

.search-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.main {
    padding-top: 2.5rem;
}

.nav-pills .nav-link {
    border-radius: .5rem;
}

.nav-pills .btn-primary  {
    color: var(--white);
}

.nav-link .bi-photo {
    background-image: url('../images/sidebar/pictures.svg');
}

.nav-link .bi-smile {
    background: url("../images/sidebar/smile.svg");
}

.nav-link .bi-recant {
    background: url("../images/sidebar/time.svg");
}

.nav-link .bi-trash {
    background: url("../images/sidebar/trash.svg");
}

.nav-link .bi {
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.title {
    font-size: 40px;
    line-height: 60px;
}

.day .title {
    color: var(--dark);
}

.night .title {
    color: var(--day-theme);
}

.subtitle {
    font-size: 14px;
    color: var(--dark-grey);
}

.day .btn-primary  {
    color: var(--white);
}

.btn-primary {
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid transparent;
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--dark);
    border: 2px solid var(--orange);
}

.night .btn-primary:hover {
    background-color: transparent;
    color: var(--white-grey);
    border: 2px solid var(--orange);
}

.btn-primary:hover .bi {
    background-color: var(--orange);
}

.day .btn-dark {
    background-color: var(--dark);
    color: var(--white);
}

.day .btn-dark:hover {
    background-color: var(--light-grey);
    color: var(--dark);
}

.night .btn-dark {
    background-color: var(--day-theme);
    color: var(--dark);
}

.night .btn-dark:hover {
    background-color: var(--dark-grey);
    color: var(--dark);
}

.btn-secondary {
    color: var(--dark);
    border: 2px solid var(--white-grey);
    background: transparent;
}

.day .btn-secondary-mix {
    color: var(--dark);
    border: 2px solid var(--white-grey);
    border-left-color: transparent;
}

.day .btn-secondary-mix:hover {
    background: var(--dark-grey);
    color: var(--white);
}

.night .btn-secondary-mix {
    color: var(--day-theme);
    border: 2px solid var(--day-theme);
    border-left-color: transparent;
}

.night .btn-secondary-mix:hover {
    background: var(--dark-grey);
    color: var(--white);
}

.day .card-footer {
    background-color: var(--white);
}

.night .card-footer{
    border-color: var(--white-grey);
}

.night .card-body,
.night .card-footer {
    background: var(--dark-grey);
    color: var(--white);
}

.title-wrapper {
    margin-bottom: 2rem;
}

.card-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 4px;
}

.day .card-title {
    color: var(--dark);
}

.night .card-title {
    color: var(--white);
}

.day .card-description { 
    color: var(--dark-grey);
}

.night .card-description {
    color: var(--white-grey);
}

.night .card {
    border: none;
}

.footer {
    height: 1px;
}

.sun {
    background: url("../images/theme/sun_icon.svg");
}

.moon {
    background: url("../images/theme/moon_icon.svg");
}

.btn-switch-theme {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
}

.sun:hover,
.moon:hover {
    filter: contrast(200%);
}
